body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    min-width: 300px;
    text-align: center;
}

h1 {
    color: green;
}

label {
    display: block;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 95%;
    margin-bottom: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: green;
    width: 100%;
    font-size: 16px;
    max-width: 50%;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#errorMsg{
    color: darkred;
    font-weight: bold;
    font-size: medium;
    margin: 5px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    max-height: 50vh;
    overflow-y: auto;
}

section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #555;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
}

#secureCodeDiv {
    display: none;
}

h3 {
    margin-top: 0px;
}

h1 {
    margin-bottom: 5px;
}