.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 35vw;
}

.search-bar input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid lightgrey;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
}

.search-bar input:focus {
    border-color: green;
}

.search-button {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: darkgreen;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.nav-links a:hover {
    color: green;
}

.search-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.search-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.search-dropdown a:hover {
    background-color: #f5f5f5;
}